{% extends 'layout.html' %}
{% block content %}
<main class="home">
	{% for post in posts %}
	<section>
		<h2><a href="/article/{{post.id}}">{{post.title}}</a></h2>
		<p>
			<span>作者：{{post.author}}</span>
			<span>时间：{{post.time|date('Y-m-d H:i:s',-480)}}</span>
		</p>
		<div>{{post.content}}</div>
	</section>
	{% endfor %}
</main>
<aside>
	<h2>热门文章</h2>
	<ul>
		{% for hotPost in hotPosts %}
		<li class="hotList">
			<a href="/article/{{hotPost.id}}">{{hotPost.title}}</a>
			<span class="hot">浏览量({{hotPost.views}})</span>
		</li>
		{% endfor %}
	</ul>
</aside>
{% endblock %}